# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.dll
*.so
*.dylib

# Compiled Static libraries
*.lib
*.a

# Executables
*.exe
*.out

# CMake build directory
/build/

# Visual Studio Code
.vscode/

# Clang-based tools
compile_commands.json

# Intellij
.idea/

# Compiled output
/bin/
